In [ ]:
import numpy as np
import pandas as pd
string_data=pd.Series(['板橋區','中和區',np.nan,'土城區'])
string_data

In [ ]:
#檢查資料
string_data.info()

In [ ]:
string_data[0]=None
string_data

In [ ]:
#檢查資料
string_data.info()

In [ ]:
#檢查資料
string_data.isnull()

In [ ]:
#檢查資料
string_data.notnull()

In [ ]:
string_data.count()

In [ ]:
string_data.info()

In [ ]:
string_data.dropna()

In [ ]:
string_data.fillna('abc')

In [ ]:
string_data.replace(np.nan,value='999')